@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxe Furniture</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <partial name="_Nav" />
    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>Transform with Luxe</h2>
                <p>Discover timeless designs, superior craftsmanship, and unparalleled elegance that will elevate your living space to new heights.</p>
            </div>
        </section>

        <section class="furniture-list">
            <h2>Shop our collections</h2>
            <div class="collections">
                <div class="collection">
                    <h3><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="LivingRoom">Living Room</a></h3>
                    <img src="images/living_room.jpeg" alt="Living Room">
                    <ul>
                        <li><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="A">Table</a></li>
                        <li><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="B">Sofa</a></li>
                        <li><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="C">TV-Consoles</a></li>
                        <li><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="D">Shelves</a></li>
                        <li><a asp-controller="Furniture" asp-action="LivingRoom" asp-route-categoryId="E">Headrest</a></li>
                    </ul>
                </div>
                <div class="collection">
                    <h3><a asp-controller="Furniture" asp-action="DiningRoom" asp-route-categoryId="DiningRoom">Dining Room</a></h3>
                    <img src="images/dining_room.jpeg" alt="Dining Room">
                    <ul>
                        <li><a asp-controller="Furniture" asp-action="DiningRoom" asp-route-product="Stools" asp-route-categoryId="F">Stools</a></li>
                        <li><a asp-controller="Furniture" asp-action="DiningRoom" asp-route-product="Cabinets" asp-route-categoryId="G">Cabinets</a></li>
                        <li><a asp-controller="Furniture" asp-action="DiningRoom" asp-route-product="DiningTable" asp-route-categoryId="H">DiningTable</a></li>
                        <li><a asp-controller="Furniture" asp-action="DiningRoom" asp-route-product="Chairs" asp-route-categoryId="I">Chairs</a></li>
                    </ul>
                </div>
                <div class="collection">
                    <h3><a asp-controller="Furniture" asp-action="BedRoom" asp-route-categoryId="BedRoom">Bed Room</a></h3>
                    <img src="images/bedroom.jpeg" alt="Bedroom">
                    <ul>
                        <li><a asp-controller="Furniture" asp-action="BedRoom" asp-route-product="Beds" asp-route-categoryId="J">Beds</a></li>
                        <li><a asp-controller="Furniture" asp-action="BedRoom" asp-route-product="BedsideTable" asp-route-categoryId="K">BedsideTable</a></li>
                        <li><a asp-controller="Furniture" asp-action="BedRoom" asp-route-product="Mirror" asp-route-categoryId="L">Mirror</a></li>
                        <li><a asp-controller="Furniture" asp-action="BedRoom" asp-route-product="Racks" asp-route-categoryId="M">Racks</a></li>
                        <li><a asp-controller="Furniture" asp-action="BedRoom" asp-route-product="StudyTable" asp-route-categoryId="Q">StudyTable</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>JOIN OUR MAILING LIST</h4>
                <form>
                    <input type="email" placeholder="Email address">
                    <button type="submit">Submit</button>
                </form>
                <p>Sign up to receive product updates and special offers from us</p>
            </div>
            <div class="footer-section">
                <h4>HOW FURNITURE</h4>
                <p>A master piece of furniture will be a part of your life.</p>
                <p>A treasure to next generation.</p>
                <p>It's a choice for decade, or even a century.</p>
            </div>
            <div class="footer-section">
                <h4>CONTACT US</h4>
                <p>Email: contact@luxefurniture.com</p>
                <p>Phone: (123) 456-7890</p>
                <p>Address: 123 Luxe Street, Furniture City, FC 12345</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Luxe Furniture</p>
            <div class="payment-methods">
                <img src="images/american_exp.png" alt="American Express">
                <img src="images/google_pay.png" alt="Google Pay">
                <img src="images/apple_pay.png" alt="Apple Pay">
                <img src="images/paypal.png" alt="PayPal">
                <img src="images/shop.png" alt="Shopify">
                <img src="images/visa.png" alt="Visa">
            </div>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
