<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua7Kw1TIqG6kG6h60OzNS4zG6lkpP1EwL9nwsuKfF4rk5W1q4oVOsiwx" crossorigin="anonymous">
</head>

<partial name="_Nav" />
<body>
    <header>
        <h1>Order Confirmation</h1>
    </header>
    <main>
        <p>Thank you for your purchase with LUXE! Your order has been placed successfully.</p>
        <a asp-action="Index" asp-controller="Home">Return to Home</a>
    </main>
</body>